/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

header.navbar
  background-color $accentColor
  div.sidebar-button
    svg
      color #ffffff
  a
    span.site-name
      color #ffffff
  div.links 
    div.search-box
      input
        border-radius 0
        border-color #ffffff
        &:focus
          border-color $accentColor
      ul.suggestions
        border-radius 0
        padding 0
        li.suggestion
          border-radius 0
    background-color transparent
    nav.nav-links
      color #ffffff
      svg.icon.outbound
        color #ffffff
